@use '../../styles/mixins' as *;

.taskTwo {
  min-height: 76vh;
  padding-inline: clamp(16px, 4vw, 48px);
  @include flex(column, stretch, center);
  gap: 2rem;
}

.errorBlock {
  display: flex;
}

.note {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}
