@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.succsBlok {
  @include container;
  background-color: var(--ok-bg);
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 4px;
  color: var(--ok);
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;

  .icon {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    color: var(--text);
    background-color: var(--ok);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text h2 {
    color: inherit;
    font-size: 1.25rem;
    margin: 0;
  }

  .text p {
    margin: 0;
  }
}
