:root {
  --black: #000000;
  --bg: #171717;
  --card: #1d1d1d;
  --text: #f5f5f5;
  --muted: #9aa0aa;
  --accent: #ffb347;
  --error: #890b35;
  --error-bg: #f0d9e5;
  --secondary: #f7b267;
  --text-font: 'Montserrat', sans-serif;
}
