:root {
  --black: #000000;
  --white: rgb(255, 255, 255);
  --bg: #171717;
  --card: #15161a;
  --input-bg: #0f1013;
  --text: #f5f5f5;
  --muted: #9aa0aa;
  --accent: #ffb347;
  --error: #890b35;
  --ok: #0b894a;
  --error-bg: #f0d9e5;
  --ok-bg: #daf0d9;
  --secondary: #f7b267;
  --text-font: 'Montserrat', sans-serif;
}
