@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  @include flex(row, center, space-between);
  gap: 2rem;
  width: 100%;
  @include container;
  min-height: 60px;
  padding: 10px 0;

  @include sm-max {
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    padding: 10px 0 0 0;
  }

  .logoLink {
    @include flex(column, center, space-between);
    transition: opacity 0.2s ease;
    gap: 0.2rem;

    &:hover {
      opacity: 0.7;
    }

    .tag {
      padding: 2px 8px;
      font-size: 17px;
      border-radius: 999px;
      color: var(--text);
    }
  }

  .navWrapper {
    @include flex(row, center, center);
    gap: 1rem;

    @include sm-max {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
