@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navbar {
  display: flex;
  align-items: center;

  @include md-max {
    justify-content: center;
  }

  .list {
    @include flex(row, center, flex-start);
    gap: 2rem;

    @include md-max {
      gap: 1rem;
    }
  }

  li {
    position: relative;

    a {
      font-weight: 500;
      font-size: 1rem;
      text-transform: capitalize;

      @include md-max {
        font-size: 0.95rem;
      }

      &.active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        background-color: var(--accent);
        border-radius: 2px;
      }
    }
  }
}
