@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.label {
  display: grid;
  gap: 8px;
  margin-bottom: 16px;

  span {
    font-size: 14px;
    color: var(--muted);
  }
}

.inputFile {
  appearance: none;
  width: 100%;
  padding: 10px 12px;
  background: var(--input-bg);
  @include border(0.1);
  border-radius: 12px;
  color: var(--text);
  cursor: pointer;
  

  &:hover {
      @include border(0.2);
  }

  &:focus {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.controlError {
    color: var(--accent);
}