@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.card {
  background: var(--card);
  @include border(0.08);
  border-radius: 16px;
  padding: clamp(16px, 2.2vw, 24px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.35);
  color: var(--text);

  h3 {
    color: var(--muted);

    font-size: clamp(18px, 1.6vw, 20px);
    letter-spacing: 0.2px;
    font-weight: normal;
  }
}

.left,
.right {
  min-height: 420px;
  display: block;
  min-width: 0;
}
