@use '../../styles/mixins' as *;

.home {
  min-height: 76vh;
  @include flex(column, stretch, center);
  gap: 2rem;
}
.linksWrap {
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.buttonHome {
  @include btn(var(--muted));
}

.btnWrap {
  @include flex(row, center, center);
  gap: 2rem;

  a {
    // width: 30%;
  }
}

.buttonTask {
  transition: all 0.3s ease;
  min-width: 12rem;
  @include btn();
  width: 30%;

  a {
    color: var(--bg);
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

    &:hover {
      color: var(--bg);
    }
  }
}
