@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.taskOne {
  padding-inline: clamp(16px, 4vw, 48px);
  @include flex(column, stretch, center);
  min-height: 78vh;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(16px, 2.2vw, 32px);
    align-items: start;
    margin-top: clamp(20px, 3vw, 36px);

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .leftColumn {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: clamp(12px, 1.8vw, 24px);
      height: 100%;
    }
  }
}

.formActions {
  @include flex(row, center, center);
  gap: 1rem;
}

.preview {
  @include flex(row, center, center);
}
