@use "../../styles/mixins" as *;

.taskThree {
  padding-inline: clamp(16px, 4vw, 48px);

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 

    gap: clamp(16px, 2vw, 24px);
    margin-top: 2rem;

  }

  .actions {
    margin-top: 1rem;
    @include flex( row, center, flex-end);

    gap: 0.5rem;

    button {
      padding: 0.4rem 0.8rem;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      font-weight: 500;
    }
    
    .editBtn {
      background-color: var(--error);
      color: var(--text);
    }

    button:hover {
      opacity: 0.9;
    }
  }

  .error {
    color: var(--error);
    text-align: center;
    margin-top: 1rem;
  }
}
